@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Roboto+Slab&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    background-color: #e2981a;
}
a{
    text-decoration: none;
}

.container {
    background-color: #fefefe;
    color: #222;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
h4{
    text-align: center;
    margin-bottom: 10px;
}

h4 span{
    color: #547cac;
    cursor: pointer;
}

button {
    padding: 17px;
    background-color: #1e4c90;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background-color:#c70c4d;
}

/*-------------------pricing--------------------------------------------------*/
.custom-body-class {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    align-items: center;
}

.pricing h1 {
    margin-bottom: 20px;
}

.subscription-type {
    margin-bottom: 10px;
}

.subscription-type input {
    margin-right: 5px;
}

.pricing-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}

.pricing-table th, .pricing-table td {
    padding: 10px 20px;
    border: 1px solid #1e4c90;
}

.pricing-table th {
    background-color: #1e4c90;
    color: white;
}

.pricing-table tr:nth-child(even) {
    background-color: #1e4c90;
    color: white;
}

/* Add borders to rows and columns */



button[type="next"]{
    background-color: white;
    color: #1e4c90;
    border: 1px solid #1e4c90;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-top: 20px;
}

button[type="next"]:hover {
    background-color: #6593d6;
    color: white;
}

/*----------
----------current details-------------------------*/


.active{
    display: inline-block;
    margin: 5px;
    background-color: #9cb2cc;
    width: 50px;
    height: 20px;
    padding: 4px;
    border-radius: 3px;
}
.active span{
    color: #355b88;
} 
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .current-plan {
    margin: 0;
    margin-right: 5px;
  }

  h3.basic {
    margin-top: 4px;
    margin-bottom: 10px;
    text-align: justify;
    color: rgb(69, 67, 67);
  }
  
  h5.phone {
    color: grey;
    margin-top: 1px;
    margin-bottom: 10px;
  }
  
  h1.rs {
    padding: 3px;
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
  }
  
  button[type="plan"] {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2px;
    text-decoration: none;
  }
  
  button[type="plan"]:hover {
    background-color: #0056b3;
  }
  
  h5.subscription {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  /*------------------------cancel---------------------------*/

  .cancel{
    display: inline-block;
    margin: 5px;
    background-color: #9cb2cc;
    width: 70px;
    height: 20px;
    padding: 4px;
    border-radius: 3px;
}

.cancel span{
    color: #355b88;
} 
  