body {
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    background-color: #1e4c90;
}
a{
    text-decoration: none;
}

.container {
    background-color: #fefefe;
    color: #222;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
}

  
  .payment-form, .order-summary {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .payment-form {
    max-width: 400px;
    flex: 1;
    margin-right: 20px;
  }
  
  .order-summary {
    max-width: 300px;
    flex: 1;
    margin-left: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-size: smaller;
  }
  
  input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #2d5187;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0a3f8e;
  }
  
  ul {
    list-style-type: none;
    padding: 10px;
  }
  
  li {
    margin-bottom: 15px;
  }